@import url("https://use.typekit.net/grq3cga.css");
@import url("https://use.typekit.net/grq3cga.css");
body {
    background-color: #f5f6f1;
    overflow-x: hidden;
    overflow-y:var(--size);
}
a {
    text-decoration: none;
    color:#2b1728;
    font-family: mr-eaves-modern,sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: larger;
}
.navbar {
     list-style-type: none;
     text-align: center;
     margin-bottom: -1%;
}
li {
    display: inline-block;
    margin-right: 2%;
    position: relative;
}
.logo {
font-family: rosella-deco,sans-serif;
font-weight: 400;
font-style: normal;
font-size: 400%;
text-align: center;
margin-bottom: -0.2%;
color: #2b1728;
}
/*animation under länkarna*/
.navbar li:after {
content: '';
position: absolute;
width: 100%;
transform:scaleX(0);
height: 1px;
bottom: 0;
left: 0;
background-color: #2b1728;
  transform-origin: center;
  transition: transform 0.25s ease-out;
}
.navbar li:hover:after {
    transform: scaleX(1);

}
footer {
  height:30%;
  background-color: #2b1728;
}

@media screen and (max-width: 623px) {
    .navbar li{
    display: block;
    width: 100%;
    margin-left: -5%;
    }
    li:after {
        display: none;
    }
    .logo {
        font-size: 50px;
    }
}

h1 {
    font-family: rosella-deco,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 300%;
    color: #492621;
    text-align: center;
}
.container {
    max-width: 1050px;
    width: 90%;
    margin: auto;
  }

  .dropdown-navbar {
    width: 100%;
  }
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
  }
  .dropdown-navbar .menu-items {
    display: flex;
  }
  
  .dropdown-navbar .nav-container li {
    list-style: none;
  }
  
  .dropdown-navbar .nav-container a {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
  }
  
  .dropdown-navbar .nav-container a:hover{
      font-weight: bolder;
  }
  
  .nav-container {
    display: block;
    position: relative;
    height: 60px;
  }
  
  .nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  
  .nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431;
  }
  
  .nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  
  .dropdown-navbar .menu-items {
    padding-top: 100px;
    background-color: white;
    height: 100vh;
    width: 102vw;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
    position: relative;
    z-index: 2;
  }
  .dropdown-navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -40px;
  }
  .nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
  .nav-container input[type="checkbox"]:checked ~ .logo{
    display: none;
  }  

@media only screen and (min-width: 700px) {
	.dropdown-content {
	  display: none;
	  position: absolute;
      background-color: seashell;
	  z-index: 1;
	}
}
.container {
    max-width: 1050px;
    width: 90%;
    margin: auto;
  }

  .dropdown-navbar {
    width: 100%;
  }
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
  }
  .dropdown-navbar .menu-items {
    display: flex;
  }
  
  .dropdown-navbar .nav-container li {
    list-style: none;
  }
  
  .dropdown-navbar .nav-container a {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
  }
  
  .dropdown-navbar .nav-container a:hover{
      font-weight: bolder;
  }
  
  .nav-container {
    display: block;
    position: relative;
    height: 60px;
  }
  
  .nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  
  .nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431;
  }
  
  .nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  
  .dropdown-navbar .menu-items {
    padding-top: 100px;
    background-color: white;
    height: 100vh;
    width: 102vw;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
    position: relative;
    z-index: 2;
  }
  .dropdown-navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -40px;
  }
  .nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
  .nav-container input[type="checkbox"]:checked ~ .logo{
    display: none;
  }  

@media screen and (max-width: 699px){
  footer, .footerbutton, .footer{
       display: none;
   }
  .navbar{
      display:none;
  }
  .logo{
      font-size: 50px;
      margin-top: -70px;
      position: relative;
  }
  .toggle {
    position: absolute;
    z-index: 10;
  }
  #toggle {
    margin-left: 80%;
    margin-right: 80px;
  }
}
button {
  border: solid;
  border-radius: 25px;
  width: 13%;
  height: 7%;
  font-family: mr-eaves-modern, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
}
button:hover {
  background-color: #2b1728;
  transition-duration: 0.5s;
  color: white;
  border: none;
}
@media screen and (min-width: 700px){
  .call {
      display: none;
  }
.dropdown-navbar, .menu-items {
  display: none;
}
}
.pc-tab > input,
.pc-tab section > div {
  display: none;
}


#tab1:checked ~ section .tab1,
#tab2:checked ~ section .tab2,
#tab3:checked ~ section .tab3, 
#tab4:checked ~ section .tab4,
#tab5:checked ~ section .tab5 {
  display: block;
}

#tab1:checked ~ nav .tab1,
#tab2:checked ~ nav .tab2,
#tab3:checked ~ nav .tab3,
#tab4:checked ~ nav .tab4,
#tab5:checked ~ nav .tab5 {
  color:#492621;
}
.pc-tab {
    text-align: center;
    margin-left: 0;
}

.pc-tab label {
    text-decoration: none;
    color:#2b1728;
    font-family: mr-eaves-modern,sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: larger; 
}
section {
        text-align: center;
        border-style: solid;
        margin-left: 11%;
        margin-right: 10%;
        padding-left: 3%;
        padding-right: 3%;
        padding-bottom: 2.5%;
        padding-top: 1.5%;
        border-color: #459c7d;
        margin-top: 2%;
        width: 70vw;
}
.tab-list li:after {
    content: '';
    position: absolute;
    width: 100%;
    transform:scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #2b1728;
      transform-origin: center;
      transition: transform 0.25s ease-out;
    }
    .tab-list li:hover:after {
        transform: scaleX(1);
    
    }
.tabs li {
    margin-right: 7%;
}
p {
    width: 40vw;
    text-align: center;
    margin-left: 21%;
    font-family: mr-eaves-modern,sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: larger;
}
h2 {
    font-family: rosella-deco,sans-serif;
font-weight: 400;
font-style: normal;
}

h3 {
    font-family: mr-eaves-modern,sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 30px; 
    margin-bottom: -1%;
}
.toggle-logo .logo{
  display: none;
}
/*toggle button*/
.toggle {
  --size: 2rem;
  
  appearance: none;
  outline: none;
  cursor: pointer;
  
  width: var(--size);
  height: var(--size);
  box-shadow: inset calc(var(--size) * 1) calc(var(--size) * -0.25) 0;
  border-radius: 999px;
  color: orange;
  
  transition: all 500ms;
}
.dark-mode .toggle {
box-shadow: inset calc(var(--size) * 0.33) calc(var(--size) * -0.25) 0;
 color: white;
}
#toggle {
 position:relative;
 margin-left: 90%;
 margin-bottom: -20%;
 z-index: 10;
}
.toggle-logo .toggle {
display: none;
}
.dark-mode {
  background-color:#2b1728;
}
.dark-mode p {
  color: white;
}

.dark-mode a {
  color: white;
}
.dark-mode h1, .dark-mode h3 {
  color: white;
}
.dark-mode .nav-container .hamburger-lines .line{
  background-color: white;
}
.dark-mode .dropdown-navbar .menu-items {
  background-color:#2b1728;
}

.dark-mode .navbar li:after {
  background-color: white;
}
.dark-mode .tabs label {
  color: white;
}
.dark-mode .tab-list li:after {
  background-color: white;
}
footer {
  height:30%;
  background-color: #2b1728;
  margin-top: 5%;
}
.footer {
  font-family: mr-eaves-modern,sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: medium;
  color: white;
  text-align: center;
  padding-top: 1%;
}
/*gör responsiv!*/
.footerbutton {
  height: 25%;
  width: 10%;
  border: solid;
  border-radius: 50px;
  border-color: #459c7d;
  background-color: #2b1728;
  color: #459c7d;
  margin-left: 45%;
  margin-top: 1%;
  font-size: 14px;
}
.footerbutton:hover {
  background-color: #459c7d;
  color: #2b1728;
}
.call{
  border: solid;
  border-radius: 12px;
  height: 4%;
  width: 100%;
}
li .fb-like {
  position: absolute;
  margin-top: -15px;
}
#fb-like {
  margin: 0;
  margin-left: -30px;
}